html {
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
}

.ebe-header {
	margin: 0;
	padding: 1em;
	background-color: lightseagreen;
}

.ebe-header > h1 {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.ebe-toolbar {
	background-color: aquamarine;
	padding: .2em;
	padding-left: 1em;
}

.ebe-toolbar a {
	margin-right: 1em;
}

.ebe-content {
	margin: .5em;
	padding: .5em;
	border: 1px dotted lightblue;
}

.ebe-post {
	padding-bottom: .5em;
	margin-bottom: .5em;
	border-bottom: 1px dotted lightblue;
}

.ebe-post > h2 {
	margin-top: 0px;
}

.ebe-post-time {
	font-style: italic;
	font-size: .8em;
}
